.address {
  color: #212121;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 3.5rem;
  background: url(../../Assets/Images/abstract.png);
  background-position: center;
  background-size: cover;
  height: 100%;
  animation: slideIn .5s ease-in-out 1 backwards;
}


.about-me { 
  background-color: rgb(167, 167, 167);
  font-family: Nunito, sans-serif;
  margin-top: 1%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 1%;
  height: 90%;
  padding: 10px;
  border-top-left-radius: 300px;
  border-bottom-right-radius: 300px;
}

.pp{ 
  padding: 2px;
  background-size: contain;
  width: 150px;
  height: 150px;
  border: 2px solid #D6045D;
  margin-top: 0px;
  border-radius: 50%;
  text-shadow:4px 7px rgba(15, 15, 15, 0.75);

  margin-bottom: 50px;
}

@keyframes slideIn{

  0%{
    opacity: 0;
    filter: blur(30px)
  }

  100%{
    opacity: .9;
    filter: blur(0px);
  }
}